<div class = "row center bg-bar border-tp">
    <div class = "col-sm-1"></div>
    <div class = "col-xs-12 col-sm-12 col-md-5 col-lg-5 contacts-padding">
        <h1 class="heading gr">ROOMS</h1>
        <div class="container">
            <!-- <img *ngFor="let img of imageData" [src]="img.srcUrl"> -->

            <div class="row">
                <img src="assets/images/Photos/Footer/1.jpeg" (click)="open(0)" class="rounded float-right image border col-lg-3 col-md-3 col-sm-2" />
                <img src="assets/images/Photos/Footer/2.jpeg" (click)="open(1)" class="rounded float-right image border col-lg-3 col-md-3 col-sm-2" />
                <img src="assets/images/Photos/Footer/3.jpeg" (click)="open(2)" class="rounded float-right image border col-lg-3 col-md-3 col-sm-2" />
                <img src="assets/images/Photos/Footer/4.jpeg" (click)="open(3)" class="rounded float-right image border col-lg-3 col-md-3 col-sm-2" />
                
                <!-- <div class="col-sm-6"></div> -->
            
            <!-- <div class="row ">                -->
                <img src="assets/images/Photos/Footer/5.jpeg" (click)="open(4)" class="rounded float-right image border col-lg-3 col-md-3 col-sm-2" />
                <img src="assets/images/Photos/Footer/6.jpeg" (click)="open(5)" class="rounded float-right image border col-lg-3 col-md-3 col-sm-2" />
                <img src="assets/images/Photos/Footer/7.jpeg" (click)="open(6)" class="rounded float-right image border col-lg-3 col-md-3 col-sm-2" />
            <!-- </div> -->
        </div>
    </div>
</div>
    <div class = "col-xs-12 col-sm-12 col-md-5 col-lg-5 contacts-padding">
        <h1 class="heading gr">CONTACTS</h1>
        <div class="media">
            <div class="media-left media-middle bg-bar-img gr">
                <mat-icon class="material-icons gr" >location_on</mat-icon><span class="aligned-with-icon">Address</span>
                <span class="aligned-with-icon padding-left-text">Building Society,</span><br>
                <span class="aligned-with-icon padding-left-text-2">near Kurinji Andavar Kovil,</span><br>
                <span class="aligned-with-icon padding-left-text-2">Kodaikanal</span><br>
                <span class="aligned-with-icon padding-left-text-2">Tamil Nadu 624101</span>
             </div>
        </div>
        <div class="media">
            <div class="media-left media-middle bg-bar-img gr">
                <mat-icon class="material-icons gr" >mail</mat-icon><span class="aligned-with-icon">Mail</span>
                <span class="aligned-with-icon padding-left-text-email">rlhousekodaikanal@gmail.com</span>
             </div>
        </div>
        <div class="media">
            <div class="media-left media-middle bg-bar-img gr">
                <mat-icon class="material-icons gr" >phone</mat-icon><span class="aligned-with-icon">Phone</span>
                <span class="aligned-with-icon padding-left-text">+91 97872 06520</span>
             </div>
        </div>
    </div>
    <div class = "col-sm-1"></div>

</div>