<html lang="en">
  <body>
    <div class="container-fluid">
        <div class = "grid_system">


<app-header></app-header>
<div class="row row-padding"></div>
<div class="row">
  <div class = "col-sm-12 padding">     
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3926.1197572212254!2d77.50456524954063!3d10.251924271424766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b0767f1d03b2439%3A0xe268b2166fe8ce84!2sRLHouse%20Kodaikanal!5e0!3m2!1sen!2sin!4v1629557597820!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div> 
<div class="row padding ">
  <div class="col-lg-1 "></div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 row-border">
    <div class="container bg-color-white rounded in-container-2">
      <div class="container ">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1 class="font-weight-bold">CONTACT US :</h1>
          <h2 class="font-weight-bold">RL HOUSE BED & BREAKFAST</h2>
          
          <p class="font-weight-bold"><mat-icon class="material-icons icons">location_on</mat-icon>Address:</p>
          <p>Building Society, </p>
          <p>near Kurinji Andavar Kovil,</p>
          <p>Kodaikanal, Tamil Nadu 624101</p>
        </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
          <p class="font-weight-bold"><mat-icon class="material-icons icons">phone</mat-icon>Phone:</p>
          <p>+91 97872 06520</p>
        </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
          <p class="font-weight-bold"><mat-icon class="material-icons icons">mail</mat-icon>Mail:</p>
          <p>rlhousekodaikanal@gmail.com</p>
      </div>
      </div>
    </div>
    </div>

  
  <div class="col-lg-6"></div>

</div>
</div>
<app-footer></app-footer>
      </div>

</div>
     
</body>
</html>
