<div class="container-fluid">
    <div class = "grid_system">
        <app-header></app-header>

        <div class="row menu-padding">
            <div class = "col-sm-12 rooms-bar-bg">
                <p class="rooms-Bar-text  menu rooms-font-bold-title">CHECKOUT OUR ROOMS</p>
        </div>
        </div>
        <div class="row rooms-table">
            <div class = "col-md-1 col-lg-2"></div>
            <div class = "col-xs-10 col-sm-10 col-md-5 col-lg-4 center" >
                <div class="container">
                    <img class="image room-image" src="assets/images/Photos/Deluxe Room/1.jpeg" alt="Third slide">
                    <div class="overlay cnt">
                        <button mat-mini-fab class="mini-fab-btn-color" (click)="sendRouteObject('Deluxe_Room')"><mat-icon class="material-icons">search</mat-icon></button>
                    </div>
    
                  </div>
            </div>
            <div class = "col-xs-12 col-sm-12 col-md-5 col-lg-4 center">
                <h1 class="rooms-font-bold">Deluxe Bed Room</h1>
                <p class="rooms-font-size">It is a fully furnished room with double bed. Bathroom is facilated with water heater. And Accommodated with balcony which has a exciting view of kodaikanal.</p>
            </div>
            <div class = "col-md-1 col-lg-2"></div>
        </div>
        <div class="row rooms-table">
            <div class = "col-md-1 col-lg-2"></div>
            <div class = "col-xs-10 col-sm-10 col-md-5 col-lg-4 center" >
                <div class="container">
                    <img class="image room-image" src="assets/images/Photos/Joint Room/1.jpeg" alt="Third slide">
                    <div class="overlay cnt">
                        <button mat-mini-fab class="mini-fab-btn-color" (click)="sendRouteObject('Joint_Room')"><mat-icon class="material-icons">search</mat-icon></button>
                    </div>
    
                  </div>
            </div>
            <div class = "col-xs-12 col-sm-12 col-md-5 col-lg-4 center">
                <h1 class="rooms-font-bold">Joint Bed Room</h1>
                <p class="rooms-font-size">It is a fully furnished room with double bed. Bathroom is facilated with water heater. And Accommodated with Campfire facility where you can enjoy view of Kodaikanal.</p>
            </div>
            <div class = "col-md-1 col-lg-2"></div>
        </div>
        <div class="row rooms-table">
            <div class = "col-md-1 col-lg-2"></div>
            <div class = "col-xs-10 col-sm-10 col-md-5 col-lg-4 center" >
                <div class="container">
                    <img class="image room-image" src="assets/images/Photos/Executive Room/1.jpeg" alt="Third slide">
                    <div class="overlay cnt">
                        <button mat-mini-fab class="mini-fab-btn-color" (click)="sendRouteObject('Executive_Room')"><mat-icon class="material-icons">search</mat-icon></button>
                    </div>
    
                  </div>
            </div>
            <div class = "col-xs-12 col-sm-12 col-md-5 col-lg-4 center">
                <h1 class="rooms-font-bold">Executive Bed Room</h1>
                <p class="rooms-font-size">It is a fully furnished room with double bed. Bathroom is facilated with water heater. And Accommodated with Kitchen Facility.</p>
            </div>
            <div class = "col-md-1 col-lg-2"></div>
        </div>
    <app-footer></app-footer>
</div>
</div>
